services:
  - type: web
    name: n8n
    env: docker
    plan: free
    autoDeploy: true
    envVars:
      - key: WEBHOOK_URL
        value: https://your-service-name.onrender.com/
      - key: N8N_HOST
        value: your-service-name.onrender.com
